
.pagelogo {
  width: 50px;
  height: 50px;
}


.nav-link:hover {
  background-color: rgba(19,139,164,255);
  color: white;
  font-weight: bolder;
}

.nav-link {
  margin-left:30px;
  margin-right:30px; 
 
  }

  .masthead {
    background-size: cover;
    background-position: center;
    min-height: 60vh;
    position: relative;
    
    
    background-image: url('../public/images/image_hero.jpg');

  }

  .mypic {
   width: 100%;
  height: auto;
  border-radius: 70%;
  margin: 0 auto;
  display:block;
  }

  .introText {
    font-size: 3rem
  }

  .color-overlay {
    color: white;
    text-shadow: 2px 2px 2px rgba(0,0,0,.2  );
    background-color: rgba(19,139,164,255)
  }

  @media (max-width: 768px) {
    .masthead {
      min-height: 30vh;
    } 

    .introText {
      font-size: calc(1.525rem + 3.3vw);
    }
  }

  #myprojects {
    background-color: rgba(19,139,164,255)
  }

  button {
    background-color: rgba(19,139,164,255) !important;

  }

  .card-body {
    background-color: skyblue;
  }

  
  i {
    color: rgba(19,139,164,255);
  }


  footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.emailform {
  background-color: rgba(19,139,164,255) 
}

.forEmail{
  background-color: skyblue !important; 
  font-weight: bold;
}