body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: skyblue;

}

html {
  scroll-behavior: smooth;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.pagelogo {
  /* transform: scale(0.5) */
  width: 50px;
  height: 50px;
}


.nav-link:hover {
  background-color: /* skyblue */ rgba(19,139,164,255);
  color: white;
  font-weight: bolder;
}

.nav-link {
  /* padding-left:30px;
  padding-right:30px; */
  margin-left:30px;
  margin-right:30px; 
 
  }

  .masthead {
    background-size: cover;
    background-position: center;
    min-height: 60vh;
    position: relative;
    
    
    background-image: url('../public/images/image_hero.jpg');

  }

  .mypic {
   width: 100%;
  height: auto;
  border-radius: 70%;
  margin: 0 auto;
  display:block;
  }

  .introText {
    font-size: 3rem
  }

  .color-overlay {
    /* position:absolute; */
    color: white;
    text-shadow: 2px 2px 2px rgba(0,0,0,.2  );
    background-color: rgba(19,139,164,255)
  }

  @media (max-width: 768px) {
    .masthead {
      min-height: 30vh;
    } 

    .introText {
      font-size: calc(1.525rem + 3.3vw);
    }
  }

  #myprojects {
    background-color: rgba(19,139,164,255)
  }

  button {
    background-color: rgba(19,139,164,255) !important;

  }

  .card-body {
    background-color: skyblue;
  }

  /* .div1 {
    display: flex;
    justify-content: center;
  } */